<h1>Cheerups!</h1>

<section class="home">
  <% @cheerups.each do |cheerup| %>
      <h2><%= link_to cheerup.title, cheerup_path(cheerup) %></h2>
  <% end %>
</section>
<h2><%= link_to "Create New Cheerup", new_cheerup_path %></h2>
